streamlit==1.39.0
toml==0.10.2
huggingface_hub==0.25.2
tensorflow==2.17.0
torch==2.4.1
tf-keras==2.17.0
transformers==4.45.2
pydub==0.25.1
soundfile==0.12.1
facenet-pytorch==2.6.0
opencv-python==4.10.0.84
grad-cam==1.5.4